@addTagHelper*, TagHelpers
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<form>
    <div fontsize="x-small">Custom Tag Helper örenği</div>
    <div>Custom Tag Helper örenği</div>
</form>
